# System/Build outputs
target/
dist/
node_modules/
/client/dist/
/client/node_modules/

# Local Environment files
.env
.env.local
.env.*.local
client/.env

# Maven wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Help files
HELP.md

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
